// .ltr .loginInput{
//     ion-label{
//         text-align:left;

//     }
// }



// .rtl .loginInput{
//     ion-label{
//         text-align:right;


//     }
// }
page-login {


    .toolbar-background-md {
        background: transparent;
    }
    .toolbar-background-ios {
        background: transparent;
    }


    .MainLogo{
      background: url(../assets/imgs/logo2.png) no-repeat center center;
      display: block;
      width: 50%;
      height: 20vw;
      background-size: contain;
      margin: auto;

    }
    .backbutton{
        background: url("../assets/imgs/back.png") no-repeat center center ;


    }

    .item-md {
      position: relative;
      font-size: 1.7rem;
      color: #000;
      background-color: #fff;
      -webkit-transition: background-color 200ms linear;
      transition: background-color 200ms linear;
      border-radius: 10px;
      border: 0.55px solid #ededed;
      height: 60px;
      margin-top: -1px !important;


  }
    // .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
    //   border-bottom-color:#ededed !important;


    // }
    .align-center{
      align-self: center;
      margin-top: 17vw;

    }
    .grid {
      padding: 35px 25px 0px !important;
    }
    .buttonlogin{

      margin-bottom: 5%;
      margin-left: auto;
      margin-right: auto;
      display: block !important;
      color: white;
      border-radius: 40px;
      height: 12vw;
      font-size: x-large;
      font-weight: 700;
      color: #ffffff;
      background-color: #4f14d8;
      text-align: center;
      padding-left: 60px !important;
      padding-right: 60px !important;
      padding-bottom: 6px;
      margin-top: 5%;




    }
    .align-baseline{
      align-self: baseline !important;
      margin: auto;

    }


    .button-inner {
        color: #4f14d8;
    }

   /*  .button-md {
        border-radius: 40px;
        height: 7%;
        width: 40%;
        font-size: x-large;
        font-weight: 500;
        color: #ffffff;
        background-color: #4f14d8;
        top: 5%;

         //margin: 0.4rem 0.2rem;
    }
    .button-ios {
        border-radius: 40px;
        height: 7%;
    width: 40%;
        font-size: x-large;
        font-weight: 500;
        color: #ffffff;
        background-color: #4f14d8;
        top: 5%;

         //margin: 0.4rem 0.2rem;
    } */


    .alert-md .alert-button-group {

      justify-content: center !important;
    }
    .text-input-md {
        margin: 11px 8px 11px 0;
        padding: 0;
        width: calc(100% - 8px);
        //text-align: left;
    }
    .text-input-ios {
        margin: 11px 8px 11px 0;
        padding: 0;
        width: calc(100% - 8px);
       // text-align: left;
    }

    .text-input-ios::placeholder {
        color: #dedede;
        text-align:left;

      }
      .text-input-md::placeholder {
        color: #dedede;
        text-align:left;

      }


      .inputLabel {
        right: 1px !important;
        background-color: transparent;
        color: red !important;
        text-align: end;
        font-size: small;
        font-weight: 700;
    }
       .inputLabelheading {
        right: 1px !important;
        background-color: transparent;
        color: red !important;
        text-align: right;
        font-size: small;
        font-weight: 700;
    }




}
