<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  no-border>
  <ion-navbar >

                 <ion-buttons left class="backbutton">

                   </ion-buttons>
                    </ion-navbar>
</ion-header>

<ion-content padding class="splash">
    <ion-row class="align-center" >
        <ion-img class="MainLogo"> </ion-img>
      </ion-row>

<ion-grid >
<ion-row>
    <ion-label  *ngIf="username.hasError('required') && username.touched"    align="end" STYLE="background-color:transparent; color:red;  position: absolute; right: 6vw;font-size: small;    font-weight: 700;">{{ 'All Fields Required*' | translate }}</ion-label>

    <ion-label align="right" STYLE="background-color:transparent; color:gray;text-align: end;font-size: 1.7rem;    font-weight: 700;">{{ 'New Account' | translate }}</ion-label>

</ion-row>

<form [formGroup]= "formgroup">
<ion-item >
    <ion-input maxlength="20" [(ngModel)]="firstname" minlength="3" type="text" formControlName="username" placeholder="{{ 'first name' | translate }}"></ion-input>
    <ion-label  class="inputLabel" *ngIf="username.hasError('required') && username.hasError('pattern')&& username.touched"    STYLE=" background-color:transparent; color:red;font-size: small;    font-weight: 700;"> *first name is required</ion-label>
    <ion-label  class="inputLabel" *ngIf="username.hasError('minlength') "    style=" background-color:transparent; color:red;font-size: small;    font-weight: 700;">
      {{ '*must be atleast 4 characters' | translate }}</ion-label>

      email.hasError('pattern')
   </ion-item>

   <ion-item>
     <ion-input maxlength="20"  [(ngModel)]="lastname" minlength="3" type="text" formControlName="password" placeholder="{{ 'family name' | translate }}"> </ion-input>
     <ion-label  class="inputLabel" *ngIf="password.hasError('required') && password.touched"    STYLE="background-color:transparent; color:red;font-size: small;    font-weight: 700;"> {{'*last name is required' | translate }}</ion-label>
     <ion-label  class="inputLabel"  *ngIf="password.hasError('minlength')"    style=" background-color:transparent; color:red;font-size: small;    font-weight: 700;">
       {{ '*must be atleast 4 characters' | translate }}</ion-label>

   </ion-item>
 </form>

</ion-grid>


<ion-buttons>

    <button  align="center" class="buttonlogin" tappable (click)="openRegistration2()">
      {{ 'Next' | translate }}
    </button>
  </ion-buttons>

 <div padding align="center" style=" padding-top: 2%">
   <button tappable (click)="openLogin()" STYLE="background-color:transparent; color:#4f14d8;    font-size: small;
   font-weight: 900;"> {{ 'Already have an account?' | translate }}</button>
   <!-- <button  STYLE="background-color:transparent; color:#4f14d8;    font-size: small;
   font-weight: 900; ">  المفاتيح العربيةالعربي</button> -->

</div>

</ion-content>
